<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <ul>
          <li><a href="{{ url_for('hello') }}">FlaskApp</a></li>
          <li><a href="{{ url_for('files') }}">Files</a></li>
          <li><a href="{{ url_for('user') }}">Users</a></li>
          <li><a href="{{ url_for('process') }}">Process</a></li>
          <li><a href="{{ url_for('maps') }}">Maps</a></li>
        </ul>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='/scripts/script.js') }}"></script>
</body>
</html>